body {

  margin: 0;
  overflow: hidden;

  background: black;
}

.ytless-player {

  position: relative;
  display: block;
}

.ytless-player video {

  width: 100vw;
  height: 100vh;
}

.ytless-player--overlay {

  z-index: 100;

  position: absolute;
  top: 0;
  left: 0;
  
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  cursor: pointer;

  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ytless-player--overlay.disable,
.ytless-player--overlay.disable .ytless-player--button {

  opacity: 0 !important;
  cursor: default !important;

  transition: all ease-out 200ms;
}

.ytless-player--button {

  position: absolute;

  width: 12%;

  background-color: transparent;
  border: none;
  padding: 0;

  color: inherit;
  text-align: inherit;
  font-size: 100%;
  font-family: inherit;
  line-height: inherit;

  cursor: pointer;

  outline: 0;

  transition: opacity .25s cubic-bezier(0,0,0.2,1);
}

.ytless-player--button .ytless-player--button-bg {

  --transition: "fill .1s cubic-bezier(0.4,0,1,1),fill-opacity .1s cubic-bezier(0.4,0,1,1)";

  -webkit-transition: var(--transition);
  transition: var(--transition);

  fill: #212121;
  fill-opacity: .8;
}

.ytless-player--overlay:hover .ytless-player--button-bg,
.ytless-player--button-bg:hover .ytless-player--button-bg {

  --transition: "fill .1s cubic-bezier(0,0,0.2,1),fill-opacity .1s cubic-bezier(0,0,0.2,1)";

  -webkit-transition: var(--transition);
  transition: var(--transition);

  fill: #f00;
  fill-opacity: 1;

  cursor: pointer;
}

@keyframes ytp-bezel-fadeout {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0.1;
    transform: scale(1.7);
  }
}

.ytp-bezel-text-wrapper {
    text-align: center;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 10%;
    z-index: 19;
}

.ytp-bezel-text-hide .ytp-bezel-text {
  display: none;
}
.ytp-bezel-text {
  display: inline-block;
  padding: 10px 20px;
  font-size: 175%;
  background: rgba(0,0,0,0.5);
  pointer-events: none;
  border-radius: 3px;
}

.ytp-bezel {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 52px;
  height: 52px;
  z-index: 19;
  margin-left: -26px;
  margin-top: -26px;
  background: rgba(0,0,0,0.5);
  border-radius: 26px;
  pointer-events: none;
}

.ytp-bezel.enable {

  -webkit-animation: ytp-bezel-fadeout 500ms linear 1 normal forwards;
  animation: ytp-bezel-fadeout 500ms linear 1 normal forwards;
}

.ytp-bezel-icon {
  width: 40px;
  height: 40px;
  margin: 6px;
}

.ytp-svg-shadow {
  stroke: #000;
  stroke-opacity: .15;
  stroke-width: 2px;
  fill: none;
}

.ytp-svg-fill {
  fill: #fff;
}

.d-none {

  display: none;
}
